.body{
  max-width: 700px;
  font-family: 'Inter', sans-serif;
}
.headerContainer{
  background-color: #F55A5A;;
  color: white;
  text-align: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
a{
  color: grey;
  font-size: 0.8rem;
}

.logContainer{
  display: flex;
  gap: 25px;
  margin-left: 40px;
  margin-bottom: 30px;
  
}

.imageContainer{
  align-self: center;
  width: fit-content;
  height: 240px;
  
  /* border: 1px solid rgb(0, 255, 8); */
}

.picture{
  height: 240px;
  border-radius: 10px;
}

.date{
  color: #2B283A;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailsContainer{
}

.iconContainer{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.icon{
  width:10px;
  
  margin-right: 8px;
}

.country{
  margin-right: 10px;
  color: #2B283A;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
  
}

.destination{
  margin: 0;
  padding: 0;
  color: #2B283A;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
.description{
  color: #2B283A;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */}

